* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
.navbar{
    background-color: white;
    align-items: center;
    justify-content: space-between;
    display:flex;
    width:100%;
    height: 80px;
    padding: 0 5%;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    margin-right: 100px;

}
.menu-items{
    padding: 0 25px;
}
.menu-items>a{
    color:black;
}
.icons {
    margin: 0 5px;
  }
  .login {
    background-color: #b1e50e;
    border: none;
    border-radius: 6px;
    padding: 16px 20px;
    font-weight: 700;
    font-size: 14px;
  }
.container {
    display: grid;
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(180deg,rgba(225, 233, 254, 0.8),rgba(225, 233, 254, 0));
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .box {
    height: 75px;
    width: 75px;
    border: none;
    border: 1px solid rgb(219, 223, 234);
    transition: background-color 1s ease-in-out, color 2s ease-in-out;
  }
  .box:hover {
    transition: background-color 0.09s ease-in, color 0.1s ease-in;
    background-color: #d8d8d8d7;
    cursor: pointer;
  }
  .heading {
    top:23%;
    left:11%;
    position: absolute;
    pointer-events: none;
  }
  
  .heading1 {
    margin-top: 60px;
    font-family: sans-serif;
    font-size: 85px;
    font-weight:700;
  }
  .heading2 {
    margin-top: 10px;
    color: #6b92fb;
    font-family: sans-serif;
    font-size: 85px;
    font-weight: 700;
  }
  
  .para {
    color: #494b57;
    font-family: sans-serif;
    margin-top: 8%;
    font-weight: 700;
    font-size: 33px;
    width: 950px;
    line-height: 45px;
  }
    
  