.images{
    display: flex;
  justify-content:center;
  gap: 28px;
}
.logo {
    width:130px;
  }
.Names{
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 5px;
}
.boxing{
    border-radius:10px;
    background-color: #ffffff;
    text-align:center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    width:290px;
    overflow:hidden;
    padding-top:10px;


}
body {
    background-color: #f4f4f4;
    padding:10px;
  }
  * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }